<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.player.auth.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.music.player.auth.entity.SysUser">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userStatus" column="user_status" jdbcType="CHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="querySysUserList" resultType="com.music.player.auth.vo.QuerySysUserListVo"
            parameterType="com.music.player.auth.dto.QuerySysUserListDto">
        select user_id,login_name,nick_name,user_status,create_time from sys_user
        <where>
            is_delete = '0'
            <if test="querySysUserListDto.nickName != null and querySysUserListDto.nickName != ''">
                and nick_name like #{querySysUserListDto.nickName}
            </if>
            <if test="querySysUserListDto.userStatus != null and querySysUserListDto.userStatus != ''">
                and user_status = #{querySysUserListDto.userStatus}
            </if>
        </where>
        <choose>
            <when test="querySysUserListDto.field != null and querySysUserListDto.field != ''">
                order by #{querySysUserListDto.field} #{querySysUserListDto.order}
            </when>
            <otherwise>
                order by create_time desc
            </otherwise>
        </choose>
    </select>
</mapper>
