<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.player.infra.mapper.SysMenuMapper">


    <select id="querySysMenu" parameterType="com.music.player.infra.dto.QuerySysMenuDto"
            resultType="com.music.player.infra.vo.QuerySysMenuVo">
        select menu_id,menu_name,en_name,permission,path,parent_id,icon,visible,sort_order,menu_type from sys_menu
        <where>
            del_flag = '0'
            <if test="querySysMenuDto.menuName != '' and querySysMenuDto.menuName != null">
                and menu_name like #{querySysMenuDto.menuName}
            </if>
        </where>
        order by sort_order
    </select>

</mapper>