<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.player.infra.mapper.SysRoleMapper">


    <select id="querySysRole" parameterType="com.music.player.infra.dto.QuerySysRoleDto"
            resultType="com.music.player.infra.vo.QuerySysRoleVo">
        select role_id,role_name,role_code,role_desc from sys_role
        <where>
            del_flag = '0'
            <if test="querySysRoleDto.roleName != '' and querySysRoleDto.roleName != null">
                and role_name like #{querySysRoleDto.roleName}
            </if>
            <if test="querySysRoleDto.roleCode != '' and querySysRoleDto.roleCode != null">
                and role_code = #{querySysRoleDto.roleCode}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>